{% extends "layout.html" %}
{% block head %}
    <script src="../static/balance.js"></script>
{% endblock %}
{% block body %}
        <div>Howdy {{ name }} (<span id="card_id">{{card_id}}</span> - <span id="userID">{{ user_id }}</span>) your Balance is: {{ balance }}</div>
    <div class=content>
        <div id="dialPad">
            <button data-number>1</button>
            <button data-number>4</button>
            <button data-number>7</button>
            <button id="decimalPoint">.</button>

            <button data-number>2</button>
            <button data-number>5</button>
            <button data-number>8</button>
            <button data-number>0</button>

            <button data-number>3</button>
            <button data-number>6</button>
            <button data-number>9</button>
            <button id="minus">-</button>
        </div>
        <button id="resetInput">Clear</button>

        <div id="change"></div>
        €
        <div id="input"></div>
        <button id="book" type="submit">Verbuchen</button>
    </div>

{% endblock %}
