{% extends "layout.html" %}
{% block head %}
<script src="../static/kiosk.js"></script>
{% endblock %}
{% block body %}
  <div class=content>
    <div class=items>
    {% for item in items %}
    <div
      {% if item.image_link %}class="itemTitle"
      style="
        background: url('../static/images/{{ item.image_link }}') no-repeat center;
        background-size: contain;"
      {% else %}
      class="itemTitle colorBlock" style="background-color: {{ item.color|safe }}"
      {% endif %}
      id={{ item.id }}>
      {{ item.name }}<br>
      ({{ item.price }})
    </div>
    {% else %}
    <div><em>Unbelievable. No items here so far</em></div>
    {% endfor %}

    </div>
<div id="rightRow">
    <ol id="receipt"></ol>

    <div id="sumRow">Sum: <span id="sum">0</span></div>
    <button id="finishProcess">Zum Abschließen, Karte an Leser halten.</button>
    <div id="cardID"></div>
  </div>
</div>
{% endblock %}
